#about_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about_footer>* {
    margin: 0 5px
}

#about_footer button svg {
    display: flex;
    align-items: center;
    justify-content: center;
}
