/* https://fonts.google.com/specimen/Source+Sans+Pro */
@font-face {
    font-family: "Sans-Serif";
    src: url("../asset/SourceSansPro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Sans-Serif Thin";
    src: url("../asset/SourceSansPro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Sans-Serif Bold";
    src: url("../asset/SourceSansPro-Bold.ttf") format(truetype);
}

/* https://fonts.google.com/specimen/Source+Serif+Pro */
@font-face {
    font-family: "Serif";
    src: url("../asset/SourceSerifPro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Serif Thin";
    src: url("../asset/SourceSerifPro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Serif Bold";
    src: url("../asset/SourceSerifPro-Bold.ttf") format(truetype);
}

/* https://fonts.google.com/specimen/Source+Code+Pro */
@font-face {
    font-family: "Code";
    src: url("../asset/SourceCodePro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Code Thin";
    src: url("../asset/SourceCodePro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Code Bold";
    src: url("../asset/SourceCodePro-Bold.ttf") format(truetype);
}

/* dark mode default */
:root {
    --fg-color: #eeeeee;
    --fg2-color: #ffffff;
    --bg-color: #222225;
    --bg2-color: #333338;
    --ac-color: #87cefa;
    --ac-color: #87cefa;

    --fg-color-a: #eeeeee3F;
    --fg2-color-a: #ffffff3F;
    --bg-color-a: #2222253F;
    --bg2-color-a: #3333383F;
    --ac-color-a: #87cefa3F;
    --ac-color-a: #87cefa3F;

    --shadow-color: rgba(0, 0, 0, 0.5);
    --font-sans: "Sans-Serif";
    --font-sans-thin: "Sans-Serif Thin";
    --font-sans-bold: "Sans-Serif Bold";
    --font-serif: "Serif";
    --font-serif-thin: "Serif Thin";
    --font-serif-bold: "Serif Bold";
    --font-code: "Code";
    --font-code-thin: "Code Thin";
    --font-code-bold: "Code Bold";
}

/* light mode*/
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #eeeeee;
        --bg2-color: #ffffff;
        --fg-color: #222222;
        --fg2-color: #333338;
        --ac-color: #87cefa;
        --ac-color: #87cefa;
        
        --bg-color-a: #eeeeee3F;
        --bg2-color-a: #ffffff3F;
        --fg-color-a: #2222223F;
        --fg2-color-a: #3333383F;
        --ac-color-a: #87cefa3F;
        --ac-color-a: #87cefa3F;

        --shadow-color: rgba(0, 0, 0, 0.25);
    }
}

* {
    padding: 0;
    margin: 0;
    border-width: 0;
    font-style: normal;
    font-family: var(--font-serif);
    font-size: 16px;
    box-sizing: content-box;
}

code {
    font-family: var(--font-code);
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_container > * {
    flex-shrink: 0;
}

.rounded {
    border-radius: 4px;
}

.indent {
    text-indent: 20px;
}

a[type="button"],
button {
    background: var(--ac-color);
    box-shadow: 0 0 3px var(--shadow-color);
    white-space: nowrap;
}

a,
a *,
button, 
button * {
    font-family: var(--font-sans-bold);
    user-select: none;
}

a,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none;
    min-height: 32px;
    min-width: 32px;
    margin: 5px;
}

a:hover, 
a:hover *,
button:hover, 
button:hover * {
    cursor: pointer;
}

a:not([type~="button"]) {
    color: inherit;
}

a[type="button"],
button {
    color: var(--bg2-color);
}

a:hover {
    box-shadow: 0 0 3px var(--shadow-color);
}

a:hover, 
a:hover * {
    background: var(--ac-color);
    color: var(--bg2-color);
}

a:active,
button:active {
    outline: 3px solid var(--ac-color);
}

a:active,
a:active *,
button:active, 
button:active * {
    background: none;
    color: var(--ac-color);
}

a:active,
button:active {
    background: var(--ac-color-a);
}

svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header,
#header * {
    font-family: var(--font-sans);
    font-size: 32px;
}

#header {
    background: var(--bg2-color);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 3px var(--shadow-color);
    z-index: 9999;
}

#header>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigate,
#navigate * {
    font-size: 16px;
}

#navigate>* {
    min-width: 32px;
    min-height: 32px;
}

#navigate>*+* {
    margin-left: 5px;
}

.social_icon svg {
    width: 24px;
    height: 24px;
}

.social_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    min-height: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#title>*+* {
    margin-left: 10px;
}

#title:active {
    outline: none;
}

#title:active,
#title:active *,
#title:hover, 
#title:hover * {
    color: inherit;
    background: inherit;
}

#title:hover {
    box-shadow: none;
}

#title .logo svg {
    width: auto;
    height: 32px;
}

@media (prefers-color-scheme: light) {
    #title .logo svg {
        color: white;
        background: inherit;
        stroke: var(--fg-color);
        stroke-width: 10px;
        stroke-linejoin: round;
    }
}

.article_page {
    margin: auto;
    max-width: 800px;
    padding: 10px 20px 20px;
}

.article_card {
    margin: 20px;
    background: var(--bg2-color);
    max-width: 800px;
    max-height: 800px;
    box-shadow: 0 0 3px var(--shadow-color);
    padding: 20px;
}

.article_page p,
.article_card p {
    text-align: justify;
}

.article_header {
    font-family: var(--font-sans-thin);
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 1px var(--fg-color);
}

.article_content {
    margin: 20px 0;
}

.article_content>p+p {
    margin-top: 20px;
}

.quote,
p.quote {
    font-style: italic;
    text-align: center;
    padding: 0 40px;
    margin: auto;
}

.color_palette {
    background: linear-gradient(
        90deg,
        var(--fg2-color) 20%,
        var(--fg-color) 20% 40%,
        var(--ac-color) 40% 60%,
        var(--bg2-color) 60% 80%,
        var(--bg-color) 80%
    );
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 3px var(--shadow-color);
}

@media (prefers-color-scheme: light) {
    .color_palette {
        background: linear-gradient(
            90deg,
            var(--bg2-color) 20%,
            var(--bg-color) 20% 40%,
            var(--ac-color) 40% 60%,
            var(--fg2-color) 60% 80%,
            var(--fg-color) 80%
        );
    }

    /* a[type="button"],
    button {
        color: var(--fg2-color);
    } */
}