/* https://fonts.google.com/specimen/Source+Sans+Pro */
@font-face {
    font-family: "Sans-Serif";
    src: url("../asset/SourceSansPro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Sans-Serif Thin";
    src: url("../asset/SourceSansPro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Sans-Serif Bold";
    src: url("../asset/SourceSansPro-Bold.ttf") format(truetype);
}

/* https://fonts.google.com/specimen/Source+Serif+Pro */
@font-face {
    font-family: "Serif";
    src: url("../asset/SourceSerifPro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Serif Thin";
    src: url("../asset/SourceSerifPro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Serif Bold";
    src: url("../asset/SourceSerifPro-Bold.ttf") format(truetype);
}

/* https://fonts.google.com/specimen/Source+Code+Pro */
@font-face {
    font-family: "Code";
    src: url("../asset/SourceCodePro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Code Thin";
    src: url("../asset/SourceCodePro-Light.ttf") format(truetype);
}

@font-face {
    font-family: "Code Bold";
    src: url("../asset/SourceCodePro-Bold.ttf") format(truetype);
}

/* dark mode default */
:root {
    --fg-color: #dddddd;
    --fg2-color: #ffffff;
    --bg-color: #222222;
    --bg2-color: #333333;
    --ac-color: #BDE4F4;
    --ac2-color: #FFA86F;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --font-sans: "Sans-Serif";
    --font-sans-thin: "Sans-Serif Thin";
    --font-sans-bold: "Sans-Serif Bold";
    --font-serif: "Serif";
    --font-serif-thin: "Serif Thin";
    --font-serif-bold: "Serif Bold";
    --font-code: "Code";
    --font-code-thin: "Code Thin";
    --font-code-bold: "Code Bold";
}

/* light mode*/
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #dddddd;
        --bg2-color: #ffffff;
        --fg-color: #222222;
        --fg2-color: #333333;
        --ac2-color: #BDE4F4;
        --ac-color: #FFA86F;
    }
}

* {
    padding: 0;
    margin: 0;
    border-width: 0;
    font-style: normal;
    font-family: var(--font-serif);
    font-size: 16px;
}

code {
    font-family: var(--font-code);
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    border-radius: 0px;
}

button {
    background: var(--ac-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

button, button * {
    font-family: var(--font-sans);
}

button, a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
}

.indent {
    text-indent: 20px;
}

button:hover, button:hover * {
    cursor: pointer;
}

a {
    color: inherit;
}

a:hover, a:hover * {
    cursor: pointer;
    background: var(--ac-color);
    color: var(--bg2-color);
}

button:active, 
a:active {
    outline: 3px solid var(--ac-color);
}

button:active, 
a:active,
button:active *, 
a:active * {
    background: inherit;
    color: var(--ac-color);
}

#header,
#header * {
    font-family: var(--font-sans);
    font-size: 48px;
}

#header {
    background: var(--bg2-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 0 10px var(--shadow-color);
    z-index: 9999;
}

#header>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigate,
#navigate * {
    font-size: 16px;
}

#navigate>* {
    min-width: 32px;
    min-height: 32px;
}

#navigate>*+* {
    margin-left: 5px;
}

#navigate .social_icon svg {
    width: 24px;
    height: 24px;
}

#title {
    white-space: nowrap;
}

#title:active {
    outline: none;
}

#title>*+* {
    margin-left: 10px;
}

#title:hover, #title:hover * {
    background: var(--bg2-color);
    color: var(--fg-color);
}

#logo svg {
    width: 32px;
    height: 32px;
}

#article_page {
    margin: auto;
    background: var(--bg2-color);
    max-width: 650px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px 20px;
}

.article_card {
    margin: 20px;
    background: var(--bg2-color);
    max-width: 650px;
    max-height: 650px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 20px;
    padding: 20px;
}

#article_header {
    font-family: var(--font-sans-thin);
    font-size: 24px;
    padding: 10px;
    border-bottom: solid 1px var(--fg-color);
}

#article_content {
    margin: 20px 0;
}

#article_content>p+p {
    margin-top: 20px;
}

.quote {
    font-style: italic;
    text-align: center;
    padding: 0 20px;
    margin: auto;
}

.color_palette {
    background: linear-gradient(
        90deg,
        var(--fg2-color) 16.67%,
        var(--fg-color) 16.67% 33.34%,
        var(--ac2-color) 33.34% 50%,
        var(--ac-color) 50% 66.67%,
        var(--bg2-color) 66.67% 83.34%,
        var(--bg-color) 83.34%
    );
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
}

@media (prefers-color-scheme: light) {
    .color_palette {
        background: linear-gradient(
            90deg,
            var(--bg2-color) 16.67%,
            var(--bg-color) 16.67% 33.34%,
            var(--ac-color) 33.34% 50%,
            var(--ac2-color) 50% 66.67%,
            var(--fg2-color) 66.67% 83.34%,
            var(--fg-color) 83.34%
        );
    }
}